In [ ]:
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split

## Processing

In [ ]:
music = pd.read_table('musicreviews_cleaned.txt')
movie = pd.read_table('moviereviews_cleaned.txt')
book = pd.read_table('bookreviews_cleaned.txt')
users = pd.read_csv('douban_users.csv')

<ipython-input-24-0f728fab0ad5>:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  movie = pd.read_table('moviereviews_cleaned.txt')

In [ ]:
music['music_id'] = music['music_id'].apply(lambda x: 'mus_' + str(x))
book['book_id'] = book['book_id'].apply(lambda x: 'b_' + str(x))
movie['movie_id'] = movie['movie_id'].apply(lambda x: 'mov_' + str(x))

In [ ]:
# common_elements = set(music['music_id']).intersection(book['book_id']).intersection(movie['movie_id'])
# print(common_elements)

set()

In [ ]:
music = music.drop(columns=['labels', 'comment', 'useful_num', 'ID'])
movie = movie.drop(columns=['labels', 'comment', 'useful_num', 'ID', 'CategoryID'])
book = book.drop(columns=['labels', 'comment', 'ID'])

In [ ]:
music

        user_id   music_id  rating        time
0           843  mus_52381       5  2018-06-29
1           843  mus_52663       3  2018-06-14
2           843  mus_52032       5  2018-06-09
3           843  mus_18446       5  2018-05-16
4           843   mus_5380       5  2018-04-12
...         ...        ...     ...         ...
179842     2267  mus_25530       5  2013-06-30
179843     2267  mus_11455       5  2013-06-30
179844     2267  mus_74993       5  2013-04-25
179845     2267  mus_65903       4  2013-04-25
179846     2267  mus_28117       5  2013-03-30

[179847 rows x 4 columns]

In [ ]:
music = music.rename(columns={'music_id': 'product_id'})
movie = movie.rename(columns={'movie_id': 'product_id'})
book = book.rename(columns={'book_id': 'product_id'})

In [ ]:
combined = pd.concat([music, movie, book])

In [ ]:
combined = combined.dropna()

In [ ]:
from google.colab import files

# Save DataFrame as CSV
combined.to_csv('douban_ratings.csv', index=False)

# Download CSV file
files.download('douban_ratings.csv')

## Convert to Pickle Format

In [ ]:
with open('epinions.pickle', 'rb') as data_file:
    history_u_lists, history_ur_lists, history_v_lists, history_vr_lists, train_u, train_v, train_r, test_u, test_v, test_r, social_adj_lists, ratings_list = pickle.load(
    data_file)

In [ ]:
# print(len(history_v_lists))

99979

In [ ]:
data_file = open('toy_dataset.pickle', 'rb')

history_u_lists, history_ur_lists, history_v_lists, history_vr_lists, train_u, train_v, train_r, test_u, test_v, test_r, social_adj_lists, ratings_list = pickle.load(
    data_file)

In [ ]:
# print(len(history_v_lists))

1941

In [ ]:
ratings_list

{2.0: 0, 1.0: 1, 3.0: 2, 4.0: 3, 2.5: 4, 3.5: 5, 1.5: 6, 0.5: 7}

In [ ]:
i = 100

for k, v in social_adj_lists.items():
  if i != 0:
    v.add(k)
    # social_adj_lists[k] = a
    print(k, social_adj_lists[k])
  else:
    break;

In [ ]:
history_u_lists

In [ ]:
a = set(social_adj_lists.keys())

In [ ]:
b = set(set().union(*social_adj_lists.values()))

In [ ]:
b.difference(a)

set()

In [ ]:
ratings_list

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4}

In [ ]:
ratings_list = dict(map(lambda i,j : (i,j) , range(1, 6), range(0, 5)))

In [ ]:
ratings_list

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4}

In [ ]:
len(ratings_list)

5

In [ ]:
douban_history_v_lists

In [ ]:
ids = set(douban_ratings['product_id'])
len(ids)
# douban_ratings 107295

85468

In [ ]:
import hashlib 

def hash_string(s):
    return int(str(int(hashlib.sha256(s.encode('utf-8')).hexdigest(), 16))[:10])

douban_ratings['product_id'] = douban_ratings['product_id'].apply(hash_string)
douban_ratings

        user_id  product_id  rating
0           843  2920155750       5
1           843  1093829327       3
2           843  4999299848       5
3           843  6148135431       5
4           843  3251333556       5
...         ...         ...     ...
498177      510  1678380677       3
498178      510  1104202502       4
498179      510  4946819548       4
498180      510  3504122763       5
498181      510  1907270050       4

[364422 rows x 3 columns]

In [ ]:
# len(set(epinions_users['user_id']))
# len(set(epinions_users['user_id1']))

8506

In [ ]:
# epinions_ratings = epinions_ratings.dropna()
epinions_users.isna().any()

# epinions_ratings.isna().any()

user_id     False
user_id1    False
dtype: bool

In [ ]:
douban_history_u_lists = epinions_ratings.groupby(by='user_id')['product_id'].apply(list).to_dict()
douban_history_ur_lists = epinions_ratings.groupby(by='user_id')['rating'].apply(list).to_dict()
douban_history_v_lists = epinions_ratings.groupby(by='product_id')['user_id'].apply(list).to_dict()
douban_history_vr_lists = epinions_ratings.groupby(by='product_id')['rating'].apply(list).to_dict()
douban_social_adj_lists = epinions_users.groupby(by='user_id')['user_id1'].apply(set).to_dict()

In [ ]:
douban_history_v_lists

In [ ]:
train, test = train_test_split(epinions_ratings, test_size=0.2, random_state=42)
validation, test = train_test_split(test, test_size=0.5, random_state=42)

In [ ]:
douban_train_u = train['user_id'].values
douban_train_v = train['product_id'].values
douban_train_r = train['rating'].values
douban_test_u = test['user_id'].values
douban_test_v = test['product_id'].values
douban_test_r = test['rating'].values
douban_validation_u = validation['user_id'].values
douban_validation_v = validation['product_id'].values
douban_validation_r = validation['rating'].values

In [ ]:
ratings_list = dict(map(lambda i,j : (i,j) , range(1, 6), range(0, 5)))

In [ ]:
ratings_list

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4}

In [ ]:
# dataframes = {'history_u_lists' : douban_history_u_lists, 'history_ur_lists': douban_history_ur_lists, 
#               'history_v_lists' : douban_history_v_lists, 'history_vr_lists' : douban_history_vr_lists, 
#               'train_u' : douban_train_u, 'train_v': douban_train_v, 'train_r': douban_train_r, 
#               'test_u': douban_test_u, 'test_v': douban_test_v, 'test_r': douban_test_r, 
#               'social_adj_lists': douban_social_adj_lists, 'ratings_list': douban_ratings_list}

dataframes = [douban_history_u_lists, douban_history_ur_lists, douban_history_v_lists, douban_history_vr_lists,
              douban_train_u, douban_train_v, douban_train_r, douban_test_u, douban_test_v, 
              douban_test_r, douban_social_adj_lists, ratings_list, douban_validation_u, douban_validation_v, douban_validation_r]

# pickle the dictionary
with open('douban.pickle', 'wb') as f:
    pickle.dump(dataframes, f)

In [ ]:
# douban_history_u_lists

In [ ]:
dataframes = [history_u_lists, history_ur_lists, history_v_lists, history_vr_lists, train_u, train_v, train_r, test_u, test_v, test_r, social_adj_lists, ratings_list]

# pickle the dictionary
with open('toy_test.pickle', 'wb') as f:
    pickle.dump(dataframes, f)

In [ ]:
from google.colab import files

files.download('douban.pickle')

## Data Description

In [ ]:
epinions_ratings = pd.read_csv('douban_ratings.csv')
# a = pd.read_csv('douban_ratings.csv')
# epinions_ratings = pd.read_csv('epinions_ratings.csv')
epinions_users = pd.read_csv('douban_users.csv')
# epinions_users = pd.read_csv('epinions_users.csv')

In [ ]:
epinions_ratings = epinions_ratings.sample(frac=.8).reset_index(drop=True)
# epinions_users = epinions_users.sample(frac=.1).reset_index(drop=True)

In [ ]:
# epinions_ratings = epinions_ratings.sample(frac=0.1)

In [ ]:
epinions_ratings = epinions_ratings[epinions_ratings['user_id'].isin(epinions_users['user_id'].values)]
epinions_users = epinions_users[epinions_users['user_id'].isin(epinions_ratings['user_id'].values)]
epinions_users = epinions_users[epinions_users['user_id1'].isin(epinions_ratings['user_id'].values)]
epinions_users = epinions_users[epinions_users['user_id'].isin(epinions_users['user_id1'].values)]

# while set(douban_ratings['user_id']) != set(douban_users['user_id']) and set(douban_users['user_id']) != set(douban_users['user_id1']):
# douban_ratings = douban_ratings[douban_ratings['user_id'].isin(douban_users['user_id'].values)]
# douban_users = douban_users[douban_users['user_id'].isin(douban_users['user_id1'].values)]
# douban_users = douban_users[douban_users['user_id1'].isin(douban_users['user_id'].values)]
# douban_users = douban_users[douban_users['user_id'].isin(douban_ratings['user_id'].values)]

In [ ]:
# epinions_users = epinions_users[epinions_users['user_id'].isin(epinions_users['user_id1'].values)]
# epinions_users = epinions_users[epinions_users['user_id1'].isin(epinions_users['user_id'].values)]
# douban_users = douban_users[douban_users['user_id'].isin(douban_users['user_id1'].values)]
douban_users = douban_users[douban_users['user_id1'].isin(douban_ratings['user_id'].values)]

In [ ]:
len(douban_ratings)

253779

In [ ]:
len(douban_users)

327162

In [ ]:
print(len(epinions_ratings))
print(len(epinions_users))

6474
1248

In [ ]:
print(len(set(epinions_users['user_id'])))
print(len(set(epinions_ratings['user_id'])))
len(set(epinions_ratings['product_id']))

557
557

5331

In [ ]:
# print(len(set(douban_users['user_id'])))
# print(len(set(douban_users['user_id1'])))

1532
1532

In [ ]:
# print(len(set(epinions_users['user_id'])))
# print(len(set(douban_ratings['user_id'])))

8506
1532

In [ ]:
ids = douban_users['user_id'].values

for index, row in douban_users.iterrows():
  if row['user_id1'] not in ids:
    douban_users.at[index,'user_id1'] = row['user_id']

In [ ]:
print(len(set(epinions_users['user_id']).difference(set(epinions_ratings['user_id']))))
print(len(set(epinions_ratings['user_id']).difference(set(epinions_users['user_id']))))
print(len(set(epinions_users['user_id1']).difference(set(epinions_users['user_id']))))
print(len(set(epinions_users['user_id']).difference(set(epinions_users['user_id1']))))
print(len(set(epinions_ratings['user_id']).difference(set(epinions_users['user_id1']))))
print(len(set(epinions_users['user_id1']).difference(set(epinions_ratings['user_id']))))

0
0
0
0
0
0

In [ ]:
set(epinions_ratings['rating'])

{1, 2, 3, 4, 5}

In [ ]:
# test = epinions_users
# diff = list(set(epinions_ratings['user_id']).difference(set(epinions_users['user_id'])))
# df = pd.DataFrame({'user_id': diff, 'user_id1': diff})
# df

In [ ]:
epinions_users = test

In [ ]:
test = epinions_users
diff = list(set(test['user_id1']).difference(set(test['user_id'])))
df = pd.DataFrame({'user_id': diff, 'user_id1': diff})
df

In [ ]:
test = pd.concat([test, df])

In [ ]:
test = test.drop_duplicates()

In [ ]:
test

    user_id  user_id1
0      3714      7627
1      3714      1642
3      3714      6045
11     3714      7193
14     3714      1641
..      ...       ...
88     2005      2005
89     5085      5085
90     4063      4063
91     6624      6624
92     8172      8172

[17603 rows x 2 columns]

In [ ]:
print(len(set(test['user_id'])))
print(len(set(test['user_id1'])))

1532
1532

In [ ]:
test = test[test['user_id'].isin(test['user_id1'].values)]

In [ ]:
len(set(test['user_id1']).difference(set(test['user_id'])))

0

In [ ]:
len(set(epinions_users['user_id']))

8506

In [ ]:
epinions_ratings = pd.read_csv('epinions_ratings (2).csv')
epinions_users = pd.read_csv('epinions_users (2).csv')

In [ ]:
print('epinions')
print('number of social ties', len(epinions_users))
# print('number of unique users with social ties', len(set(epinions_users['user_id'])))
# print('number of unique users with social ties and ratings', len(set(ep['user_id'])))
print('number of users', len(set(epinions_ratings['user_id'])))
print('number of ratings', len(epinions_ratings['rating']))
print('number of items', len(set(epinions_ratings['product_id'])))

epinions
number of social ties 1248
number of users 557
number of ratings 6474
number of items 5331

In [ ]:
print('douban')
print('number of social ties', len(douban_users))
print('number of unique users with social ties', len(set(douban_users['user_id'])))
print('number of unique users with ratings and social ties', len(set(da['user_id'])))
print('number of users', len(set(douban_ratings['user_id'])))
print('number of ratings', len(douban_ratings['rating']))
print('number of items', len(set(douban_ratings['product_id'])))

douban
number of social ties 327162
number of unique users with social ties 32807
number of unique users with ratings and social ties 1532
number of users 2031
number of ratings 498179
number of items 107295

In [ ]:
print('epinions')
print("max num. of ratings by user", list(epinions_ratings['user_id'].value_counts())[0])
print("min num. of ratings by user", list(epinions_ratings['user_id'].value_counts())[-1])
# print("total num. of ratings by user", sum(epinions_ratings['userid'].value_counts()))

epinions
max num. of ratings by user 230
min num. of ratings by user 1

In [ ]:
print('douban')
print("max num. of ratings by user", list(douban_ratings['user_id'].value_counts())[0])
print("min num. of ratings by user", list(douban_ratings['user_id'].value_counts())[-1])
# print("total num. of ratings by user", sum(douban_ratings['user_id'].value_counts()))

douban
max num. of ratings by user 9294
min num. of ratings by user 1
total num. of ratings by user 498182

## Previous Processing

In [ ]:
# douban_ratings = douban_ratings[['user_id', 'product_id', 'rating', 'time']]

In [ ]:
douban_users = douban_users.drop_duplicates()
douban_ratings = douban_ratings.drop_duplicates()

In [ ]:
douban_ratings.head()

  user_id product_id  rating        time
0     843  mus_52381       5  2018-06-29
1     843  mus_52663       3  2018-06-14
2     843  mus_52032       5  2018-06-09
3     843  mus_18446       5  2018-05-16
4     843   mus_5380       5  2018-04-12

In [ ]:
douban_ratings.groupby('user_id')

In [ ]:
ep = epinions_ratings[epinions_ratings['userid'].isin(epinions_users['userid'].values)]

In [ ]:
ep.head()

   userid  productid  categoryid  rating  helpfulness   time stamps
0       1        1.0           3       2            2             1
1       1        2.0           2       2            3             1
2       1        3.0           3       2            1             1
3       1        4.0           3       5            2             1
4       1        5.0           3       3            2             1

In [ ]:
# douban_users.columns

Index(['user_id', 'user_id1'], dtype='object')

In [ ]:
# douban_users = douban_users.rename(columns={'%': 'user_id', 'sym': 'user_id1'})

In [ ]:
def is_convertible_to_int(s):
    try:
        int(s)
        return True
    except ValueError:
        return False

du = douban_ratings[douban_ratings['user_id'].apply(is_convertible_to_int)]

In [ ]:
du = du[~du['rating'].isna()]

In [ ]:
print(len(du))
print(len(douban_ratings))

498182
498183

In [ ]:
# set(du['user_id'])

In [ ]:
epinions_users = epinions_users.rename(columns={'userid': 'user_id', 'userid.1': 'user_id1'})
epinions_users = epinions_users.drop(columns='timestamp')

In [ ]:
epinions_ratings = epinions_ratings.rename(columns={'userid': 'user_id', 'productid': 'product_id'})
epinions_ratings = epinions_ratings.drop(columns=[' time stamps', 'helpfulness', 'categoryid'])

In [ ]:
epinions_ratings.columns

Index(['user_id', 'product_id', 'categoryid', 'rating', 'helpfulness',
       ' time stamps'],
      dtype='object')

In [ ]:
epinions_ratings.head()

   user_id  product_id  rating
0        1         1.0       2
1        1         2.0       2
2        1         3.0       2
3        1         4.0       5
4        1         5.0       3

In [ ]:
douban_ratings.head()

   user_id product_id  rating        time
0      843  mus_52381       5  2018-06-29
1      843  mus_52663       3  2018-06-14
2      843  mus_52032       5  2018-06-09
3      843  mus_18446       5  2018-05-16
4      843   mus_5380       5  2018-04-12

In [ ]:
douban_ratings[douban_ratings['user_id'] == 1]

Empty DataFrame
Columns: [user_id, product_id, rating, time]
Index: []

In [ ]:
douban_ratings = du

In [ ]:
len(du)

498182

In [ ]:
douban_ratings['user_id'] = pd.to_numeric(douban_ratings['user_id'])

In [ ]:
da = douban_ratings[douban_ratings['user_id'].isin(douban_users['user_id'].values)]

In [ ]:
len(da)

364422

In [ ]:
douban_ratings.columns

Index(['user_id', 'product_id', 'rating', 'time'], dtype='object')

In [ ]:
rt = list(douban_ratings['user_id'].value_counts())
users = set(douban_ratings['user_id'])
len(douban_ratings) / len(users)

245.2875430822255

In [ ]:
douban_ratings = douban_ratings.drop(columns='time')

In [ ]:
from google.colab import files

# Save DataFrame as CSV
epinions_users.to_csv('epinions_users.csv', index=False)

# Download CSV file
files.download('epinions_users.csv')

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 5, size=(10, 2)), columns=['Users 1', 'Users 2'])
print(df)

users = set(df.iloc[:, 0]).union(set(df.iloc[:, 1]))
print(users)

user_dictionary = {old_id: new_id for new_id, old_id in enumerate(users)}
print(user_dictionary)

df.iloc[:, 0] = df.iloc[:, 0].map(user_dictionary)
df.iloc[:, 1] = df.iloc[:, 1].map(user_dictionary)

print(df)

In [ ]:
df = pd.DataFrame(np.random.randint(1, 5, size=(10, 2)), columns=['Users 1', 'Users 2'])
print(df)

users = set(df.iloc[:, 0]).union(set(df.iloc[:, 1]))
print(users)

user_dictionary = {old_id: new_id for new_id, old_id in enumerate(users)}
print(user_dictionary)

df.iloc[:, 0] = df.iloc[:, 0].map(user_dictionary)
df.iloc[:, 1] = df.iloc[:, 1].map(user_dictionary)

print(df)

In [ ]:
# code to remap user_id indexes 
def map_to_new_ids(df):
  # users = set(df.iloc[:, 1])
  # # # print(users)
  # user_dictionary = {old_id: new_id for new_id, old_id in enumerate(users)}
  df.iloc[:, 0] = df.iloc[:, 0].map(user_dictionary)
  # df.iloc[:, 1] = df.iloc[:, 1].map(user_dictionary)
  return df

In [ ]:
# epinions_ratings['rating'] = epinions_ratings['rating'].map(ratings_list)
# douban_ratings['rating'] = douban_ratings['rating'].map(ratings_list)

In [ ]:
set(epinions_ratings['rating'])

{0, 1, 2, 3, 4}

In [ ]:
df = epinions_users
users = set(set(df.iloc[:, 0]).union(set(df.iloc[:, 1])))
user_dictionary = {old_id: new_id for new_id, old_id in enumerate(users)}

In [ ]:
len(set(douban_users['user_id']).difference(set(douban_users['user_id1'])))

In [ ]:
len(users)

1532

In [ ]:
len(user_dictionary)

1532

In [ ]:
epinions_users = map_to_new_ids(epinions_users)

In [ ]:
epinions_ratings = map_to_new_ids(epinions_ratings)

In [ ]:
epinions_ratings

       user_id  product_id  rating
0          422        2239     1.0
3          166       15287     2.0
4          596       10957     1.0
6          690       13022     3.0
7          647       11612     3.0
...        ...         ...     ...
36434      169        6123     3.0
36435      433        4366     2.0
36437      557       12422     2.0
36440      370       10374     NaN
36441      329        4112     3.0

[25379 rows x 3 columns]

In [ ]:
max(set(epinions_ratings['product_id']))

39517

In [ ]:
len(set(epinions_ratings['product_id']))

39518

In [ ]:
douban_ratings['rating'] = douban_ratings['rating'].map(ratings_list)

In [ ]:
epinions_ratings = epinions_ratings.drop_duplicates()

In [ ]:
print(max(set(epinions_ratings['user_id'])))
print(len(set(epinions_ratings['user_id'])))

556
557

In [ ]:
user_dictionary

In [ ]:
douban_users=test

In [ ]:
test = map_to_new_ids(epinions_ratings)
# epinions_ratings = test

<ipython-input-128-1cf196ec2eb9>:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:, 1] = df.iloc[:, 1].map(user_dictionary)

In [ ]:
epinions_ratings = test

In [ ]:
print(max(set(epinions_ratings['product_id'])))
print(len(set(epinions_ratings['product_id'])))

5330
5331

In [ ]:
print(max(set(epinions_users['user_id1'])))
print(len(set(epinions_users['user_id1'])))

556
557